<!doctype html>
<html>
  <head>
    <title>home-iot-api</title>
    <style type="text/css">
      body {
	font-family: Trebuchet MS, sans-serif;
	font-size: 15px;
	color: #444;
	margin-right: 24px;
}

h1	{
	font-size: 25px;
}
h2	{
	font-size: 20px;
}
h3	{
	font-size: 16px;
	font-weight: bold;
}
hr	{
	height: 1px;
	border: 0;
	color: #ddd;
	background-color: #ddd;
}

.app-desc {
  clear: both;
  margin-left: 20px;
}
.param-name {
  width: 100%;
}
.license-info {
  margin-left: 20px;
}

.license-url {
  margin-left: 20px;
}

.model {
  margin: 0 0 0px 20px;
}

.method {
  margin-left: 20px;
}

.method-notes	{
	margin: 10px 0 20px 0;
	font-size: 90%;
	color: #555;
}

pre {
  padding: 10px;
  margin-bottom: 2px;
}

.http-method {
 text-transform: uppercase;
}

pre.get {
  background-color: #0f6ab4;
}

pre.post {
  background-color: #10a54a;
}

pre.put {
  background-color: #c5862b;
}

pre.delete {
  background-color: #a41e22;
}

.huge	{
	color: #fff;
}

pre.example {
  background-color: #f3f3f3;
  padding: 10px;
  border: 1px solid #ddd;
}

code {
  white-space: pre;
}

.nickname {
  font-weight: bold;
}

.method-path {
  font-size: 1.5em;
  background-color: #0f6ab4;
}

.up {
  float:right;
}

.parameter {
  width: 500px;
}

.param {
  width: 500px;
  padding: 10px 0 0 20px;
  font-weight: bold;
}

.param-desc {
  width: 700px;
  padding: 0 0 0 20px;
  color: #777;
}

.param-type {
  font-style: italic;
}

.param-enum-header {
width: 700px;
padding: 0 0 0 60px;
color: #777;
font-weight: bold;
}

.param-enum {
width: 700px;
padding: 0 0 0 80px;
color: #777;
font-style: italic;
}

.field-label {
  padding: 0;
  margin: 0;
  clear: both;
}

.field-items	{
	padding: 0 0 15px 0;
	margin-bottom: 15px;
}

.return-type {
  clear: both;
  padding-bottom: 10px;
}

.param-header {
  font-weight: bold;
}

.method-tags {
  text-align: right;
}

.method-tag {
  background: none repeat scroll 0% 0% #24A600;
  border-radius: 3px;
  padding: 2px 10px;
  margin: 2px;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
}

    </style>
  </head>
  <body>
  <h1>home-iot-api</h1>
    <div class="app-desc">The API for the Homemonitor Project</div>
    <div class="app-desc">More information: <a href="https://helloreverb.com">https://helloreverb.com</a></div>
    <div class="app-desc">Contact Info: <a href="hello@helloreverb.com">hello@helloreverb.com</a></div>
    <div class="app-desc">Version: 1.0.0</div>
    <div class="app-desc">BasePath:/d2987/homemonitor/1.0.0</div>
    <div class="license-info">All rights reserved</div>
    <div class="license-url">http://apache.org/licenses/LICENSE-2.0.html</div>
  <h2>Access</h2>

  <h2><a name="__Methods">Methods</a></h2>
  [ Jump to <a href="#__Models">Models</a> ]

  <h3>Table of Contents </h3>
  <div class="method-summary"></div>
  <h4><a href="#Login">Login</a></h4>
  <ul>
  <li><a href="#getToken"><code><span class="http-method">post</span> /login</code></a></li>
  </ul>
  <h4><a href="#Values">Values</a></h4>
  <ul>
  <li><a href="#getAllSensorValues"><code><span class="http-method">get</span> /user/{userId}/values</code></a></li>
  <li><a href="#getAllSensors"><code><span class="http-method">get</span> /user/{userId}/sensors</code></a></li>
  <li><a href="#getAllSensorsByRoom"><code><span class="http-method">get</span> /user/{userId}/sensors/room/{room}</code></a></li>
  <li><a href="#getAllSensorsByType"><code><span class="http-method">get</span> /user/{userId}/sensors/type/{type}</code></a></li>
  <li><a href="#getAllValuesBySensorByHours"><code><span class="http-method">get</span> /user/{userId}/values/{sensorId}/period/{numHours}</code></a></li>
  <li><a href="#getAllValuesOfSensor"><code><span class="http-method">get</span> /user/{userId}/values/{sensorId}</code></a></li>
  <li><a href="#getAllValuesOfSensorByNum"><code><span class="http-method">get</span> /user/{userId}/values/{sensorId}/last/{num}</code></a></li>
  </ul>

  <h1><a name="Login">Login</a></h1>
  <div class="method"><a name="getToken"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /login</code></pre></div>
    <div class="method-summary"> (<span class="nickname">getToken</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">Name (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div><div class="param">Password (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>
    </div>  <!-- field-items -->

    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>





    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#GetToken">GetToken</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "code" : 200,
  "message" : "token"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    response
        <a href="#GetToken">GetToken</a>
    <h4 class="field-label">423</h4>
    locked
        <a href="#GetTokenError">GetTokenError</a>
  </div> <!-- method -->
  <hr/>
  <h1><a name="Values">Values</a></h1>
  <div class="method"><a name="getAllSensorValues"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/{userId}/values</code></pre></div>
    <div class="method-summary"> (<span class="nickname">getAllSensorValues</span>)</div>
    <div class="method-notes">List all the sensor values</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">userId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>
    </div>  <!-- field-items -->

    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>





    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#GetUserValues">GetUserValues</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "valueId" : 1,
  "code" : 423,
  "value" : 15,
  "userId" : "28fb94a89babf4d7023dc8f973699ff8",
  "room" : "Sala",
  "ts" : "2021-01-10T15:34:48.000Z",
  "sensorId" : 1
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    response
        <a href="#GetUserValues">GetUserValues</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllSensors"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/{userId}/sensors</code></pre></div>
    <div class="method-summary"> (<span class="nickname">getAllSensors</span>)</div>
    <div class="method-notes">get all the sensors for a given user</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">userId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>
    </div>  <!-- field-items -->

    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>





    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#GetUserSensors">GetUserSensors</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "code" : 423,
  "id" : 1,
  "type" : "Temperatura",
  "userId" : "28fb94a89babf4d7023dc8f973699ff8",
  "room" : "Sala"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    response
        <a href="#GetUserSensors">GetUserSensors</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllSensorsByRoom"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/{userId}/sensors/room/{room}</code></pre></div>
    <div class="method-summary"> (<span class="nickname">getAllSensorsByRoom</span>)</div>
    <div class="method-notes">List all sensros of a certain room</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">userId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div><div class="param">room (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>
    </div>  <!-- field-items -->

    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>





    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#GetUserSensors">GetUserSensors</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "code" : 423,
  "id" : 1,
  "type" : "Temperatura",
  "userId" : "28fb94a89babf4d7023dc8f973699ff8",
  "room" : "Sala"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    response
        <a href="#GetUserSensors">GetUserSensors</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllSensorsByType"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/{userId}/sensors/type/{type}</code></pre></div>
    <div class="method-summary"> (<span class="nickname">getAllSensorsByType</span>)</div>
    <div class="method-notes">List all sensros of a certain type</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">userId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div><div class="param">type (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>
    </div>  <!-- field-items -->

    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>





    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#GetUserSensors">GetUserSensors</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "code" : 423,
  "id" : 1,
  "type" : "Temperatura",
  "userId" : "28fb94a89babf4d7023dc8f973699ff8",
  "room" : "Sala"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    response
        <a href="#GetUserSensors">GetUserSensors</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllValuesBySensorByHours"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/{userId}/values/{sensorId}/period/{numHours}</code></pre></div>
    <div class="method-summary"> (<span class="nickname">getAllValuesBySensorByHours</span>)</div>
    <div class="method-notes">List all Values of a certain sensor in a given period of hours</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">userId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div><div class="param">sensorId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div><div class="param">numHours (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>
    </div>  <!-- field-items -->

    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>





    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#GetUserValues">GetUserValues</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "valueId" : 1,
  "code" : 423,
  "value" : 15,
  "userId" : "28fb94a89babf4d7023dc8f973699ff8",
  "room" : "Sala",
  "ts" : "2021-01-10T15:34:48.000Z",
  "sensorId" : 1
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    ok
        <a href="#GetUserValues">GetUserValues</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllValuesOfSensor"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/{userId}/values/{sensorId}</code></pre></div>
    <div class="method-summary"> (<span class="nickname">getAllValuesOfSensor</span>)</div>
    <div class="method-notes">List all Values of a certain sensor</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">userId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div><div class="param">sensorId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>
    </div>  <!-- field-items -->

    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>





    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#GetUserValues">GetUserValues</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "valueId" : 1,
  "code" : 423,
  "value" : 15,
  "userId" : "28fb94a89babf4d7023dc8f973699ff8",
  "room" : "Sala",
  "ts" : "2021-01-10T15:34:48.000Z",
  "sensorId" : 1
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    ok
        <a href="#GetUserValues">GetUserValues</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllValuesOfSensorByNum"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/{userId}/values/{sensorId}/last/{num}</code></pre></div>
    <div class="method-summary"> (<span class="nickname">getAllValuesOfSensorByNum</span>)</div>
    <div class="method-notes">List num Values of a certain sensor</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">userId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div><div class="param">sensorId (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div><div class="param">num (required)</div>

      <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>
    </div>  <!-- field-items -->

    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>





    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#GetUserValues">GetUserValues</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "valueId" : 1,
  "code" : 423,
  "value" : 15,
  "userId" : "28fb94a89babf4d7023dc8f973699ff8",
  "room" : "Sala",
  "ts" : "2021-01-10T15:34:48.000Z",
  "sensorId" : 1
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    ok
        <a href="#GetUserValues">GetUserValues</a>
  </div> <!-- method -->
  <hr/>

  <h2><a name="__Models">Models</a></h2>
  [ Jump to <a href="#__Methods">Methods</a> ]

  <h3>Table of Contents</h3>
  <ol>
    <li><a href="#GetToken"><code>GetToken</code> - </a></li>
    <li><a href="#GetTokenError"><code>GetTokenError</code> - </a></li>
    <li><a href="#GetUserSensors"><code>GetUserSensors</code> - </a></li>
    <li><a href="#GetUserValues"><code>GetUserValues</code> - </a></li>
  </ol>

  <div class="model">
    <h3><a name="GetToken"><code>GetToken</code> - </a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'></div>
    <div class="field-items">
      <div class="param">code </div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  format: int32</div>
          <div class="param-desc"><span class="param-type">example: 200</span></div>
<div class="param">message </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: token</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="GetTokenError"><code>GetTokenError</code> - </a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'></div>
    <div class="field-items">
      <div class="param">code </div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  format: int32</div>
          <div class="param-desc"><span class="param-type">example: 423</span></div>
<div class="param">message </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: </span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="GetUserSensors"><code>GetUserSensors</code> - </a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'></div>
    <div class="field-items">
      <div class="param">code </div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  format: int32</div>
          <div class="param-desc"><span class="param-type">example: 423</span></div>
<div class="param">room </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Sala</span></div>
<div class="param">type </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Temperatura</span></div>
<div class="param">id </div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 1</span></div>
<div class="param">userId </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 28fb94a89babf4d7023dc8f973699ff8</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="GetUserValues"><code>GetUserValues</code> - </a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'></div>
    <div class="field-items">
      <div class="param">code </div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  format: int32</div>
          <div class="param-desc"><span class="param-type">example: 423</span></div>
<div class="param">room </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Sala</span></div>
<div class="param">ts </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 2021-01-10T15:34:48.000Z</span></div>
<div class="param">valueId </div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 1</span></div>
<div class="param">value </div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 15</span></div>
<div class="param">userId </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 28fb94a89babf4d7023dc8f973699ff8</span></div>
<div class="param">sensorId </div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 1</span></div>
    </div>  <!-- field-items -->
  </div>
  </body>
</html>
